{% extends "base.html" %}

{% block title %}缺陷查询{% endblock %}

{% block content %}
<div class="container" align="center">
	{% if bug_list %}
	<h2 class="sub-header">缺陷查询</h2>
	<div class="table-responsive">
	    <table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>包名</th>
					<th>应用版本</th>
					<th>出现次数</th>
					<th>是否修复</th>
				</tr>
			</thead>

			<tbody>
				{% for bug in bug_list %}
				<tr>
					<td><a href="{% url 'bugfix:native_bug_detail' bug.id %}">{{ bug.id }}</a></td>
					<td>{{ bug.apk.package_name }}</td>
					<td>{{ bug.apk.version_code }}</td>
					<td>{{ bug.count }}</td>
					<td>{{ bug.is_fix }}</td>
				</tr>
				{% endfor %}
			</tbody>
	    </table>
  	</div>
  	{% else %}
		<h2 class="sub-header">未收集到缺陷</h2>
	{% endif %}
</div>
{% endblock %}