{% extends "base.html" %}

{% block title %}缺陷查询{% endblock %}

{% block content %}
<div class="container" align="center">
	{% if bug_list %}
	<h2 class="sub-header">缺陷查询</h2>
	<div class="table-responsive">
	    <table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>包名</th>
					<th>应用版本</th>
					<th>出现次数</th>
					<th>是否修复</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				{% for bug in bug_list %}
				<tr>
					<td style="vertical-align: middle">#{{ bug.id }}</td>
					<td style="vertical-align: middle">{{ bug.apk.package_name }}</td>
					<td style="vertical-align: middle">{{ bug.apk.version_code }}</td>
					<td style="vertical-align: middle">{{ bug.count }}</td>
					{% ifequal bug.is_fix 'N' %}
						<td style="vertical-align: middle">未修复</td>
					{% else %}
						<td style="vertical-align: middle">已修复</td>
					{% endifequal %}
					<td style="vertical-align: middle">
						<a class="btn btn-default" href="{% url 'bugfix:native_bug_detail' bug.id %}">
							查看详情
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
	    </table>
  	</div>
  	{% else %}
		<h2 class="sub-header">未收集到缺陷</h2>
	{% endif %}
</div>
{% endblock %}