<!DOCTYPE html>
<html lang="cn">
  <head>
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
		<title>应用更新</title>

		<!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
    <link href="/static/css/theme.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<style id="holderjs-style" type="text/css"></style>
  </head>

  <body style="">
    
    {% include "bsdiff/header.html" %}
						
    <div class="container" align="center">
		{% if apk_list %}
			<h2 class="sub-header">已上传的Apk文件</h2>
			<div class="table-responsive">
		    <table class="table table-striped">
		      <thead>
		        <tr>
		          <th>包名</th>
		          <th>版本号</th>
		          <th>文件位置</th>
		          <th>MD5</th>
		        </tr>
		      </thead>
		      <tbody>
					{% for apk in apk_list %}
		        <tr>
		          <td>{{ apk.package_name }}</td>
		          <td>{{ apk.version_code }}</td>
		          <td>{{ apk.file_path }}</td>
		          <td>{{ apk.file_md5 }}</td>
		        </tr>
					{% endfor %}
		      </tbody>
		    </table>
		  </div>
    </div> <!-- /container -->
		{% else %}
    	<h2 class="sub-header">未上传Apk文件</h2>
		{% endif %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
  </body>
</html>
