{% extends "base.html" %}

{% block title %}应用更新{% endblock %}

{% block content %}
<div class="container" align="center">
    <form role="form" enctype="multipart/form-data" method="post" action="." style="width: 50%" align="left">
        {% csrf_token %}
        <h2 class="form-signin-heading">上传Apk文件</h2>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">包名</span>
            <input type="text" class="form-control" name="pkgname" required autofocus placeholder="例如：com.example">
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon">版本</span>
            <input type="text" class="form-control" name="version"required autofocus placeholder="请输入版本号，如：1">
        </div>
        <p>{{ form.non_field_errors }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.file }}
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">上传</button>
    </form>
</div> 
{% endblock %}