{% extends "accounts/profile_base.html" %}

{% block right_content %}
<h1 class="page-header">更改密码</h1>
<form role="form" method="post" action=".">
    {% csrf_token %}
    {% if form.errors.newpassword2 %}
        {{ form.errors.newpassword2 }}
    {% endif %}
    {% if form.errors.oldpassword %}
        {{ form.errors.oldpassword }}
    {% endif %}
    {% if reset_success %}
        <label style="color: green; font-size: 20px"><span class="glyphicon glyphicon-ok"></span> 重设密码成功！</label>
        <br>
    {% endif %}
    <div class="form-group">
        <label>原密码</label>
        <input type="password" name="oldpassword" required autofocus id="oldpassword" class="form-control form-control-sm">
    </div>
    <div class="form-group">
        <label>新密码</label>
        <input type="password" name="newpassword1" required id="newpassword1" class="form-control form-control-sm">
    </div>
    <div class="form-group">
        <label>重新输入新密码</label>
        <input type="password" name="newpassword2" required id="newpassword2" class="form-control form-control-sm">
    </div>
    <button type="submit" class="btn btn-primary">确认修改</button>
</form>
{% endblock %}